.width-fix.col {
  background-color: var(--bglight);
  width: 100%;
  max-width: 230px;
  flex: 0 0 230px;
  padding: 20px 0;
  margin-right: 15px;
  min-height: 100vh;
}
.rightside-content {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 15px !important;
}

.changepass {
	position: absolute;
	right: 0;
	bottom: -22px;
	color: var(--skyblue);
	font-size: 12px;
	text-decoration: underline !important;
	cursor: pointer;
	font-weight: 400;
}

.edituser svg {
  width: 15px;
  height: 15px;
  color: var(--lightblack);
  margin-left: 3px;
  display: inline-block;
  margin-top: -4px;
  cursor: pointer;
}
.set-profile {
  padding-right: 200px;
}

.verify-email {
  position: absolute;
  right: 15px;
  top: 56%;
  cursor: pointer;
  text-decoration: underline;
}
.myprofiletab{
  background-color: #FBFBFB;
  width: auto;
  border-radius: 5px;
  padding: 5px;
  border: none;
  display: inline-flex;
}

.common-tab{
  margin-top: 25px !important;
}
.accordion-item {
  margin-bottom: 28px;
}
button.accordion-button.collapsed {
  font-weight: 600;
}
/* imported development table css start==========================> */
.modal-header-one {
  background: #000000bd;
  color: white;
}
.Reset svg{
   font-size: 13px;
}
.Deactivate svg{
  font-size: 13px;
}

button.btn.btn-pri.ml-auto.d-block.mb-2 {
  background: rgb(30, 73, 141);
}
.Dhasu{
  display: flex!important;
  justify-content: flex-end!important;
  margin: 10px 0px!important
}
ul.pagination {
  background:#e5e1db52;
  display: flex;
  justify-content: flex-end;
  
}

a {
  padding: 0px 8px;
}
a.pagination_link {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

li.pagination_link--active:hover{
  color: rgb(29, 99, 152);
  font-weight: bold;
}
.pag {
  display: flex;
  justify-content: flex-end;
}
.d-flex-user{
 
  margin: 25px 0px;
 
}

.arrow-one svg{
  font-size: 13px;
}
.usermanagement h4{
  color: #1cb4ccc2 !important;
 
}
.btn-one{
  margin-left: 15px;
}
button.btn.btn-warning {
  color: white;
}



.alien {
  display: flex;
}
table#table-to-xls {
  border: 1px solid rgb(182, 175, 175) !important;
}
td{
  border: 0;
}
th {
  border: 0;
}
tbody {
  border-top-color: #41464b3b !important;
}
.danger {
  margin-left: 24px;
}
.dan {
  background-color: orange;
  color: white;
}

span.ed {
  margin: 2px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 7px;
}
svg {
  margin-left: 12px;
}
button#test-table-xls-button {
  border: none;
  background: #1d0f9fc5;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  padding: 6px 23px;
}
i.fa-solid.fa-pen-to-square {
  font-size: 16px;
  color: #00000096;
}
.Reset{
  cursor: pointer;
}
.Deactivate{
  cursor: pointer;
}

/* imported development table css ends==========================> */



/* media query start==================================================> */
@media only screen and (max-width: 1199px) {
  .set-profile {
    padding-right: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .set-profile {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .leftside-content.width-fix.col {
    display: none;
  }
  .sender-heading {
    margin-bottom: 15px;
    padding-top: 20px;
  }
  .sm-heading {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .rightside-content {
    padding-left: 0;
    padding-right: 0;
  }
  .set-profile {
    padding-right: 0;
  }
}
/* media query ends==================================================> */
