.Two-Brackets {
    justify-content: center;
    display: flex;
}

.customer {
    padding: 53px 47px;
    border: 1px solid #70c1e9 !important;
}

.customer:hover {
    border: 1px solid #70c1e9 !important;
}

.customer p a {
    font-size: 17px;
    color: #70c1e9;
    font-weight: bold;

}

.internal p a {
    font-size: 17px;
    color: #78b7d7;
    font-weight: bold;

}


.internal:hover {
    border: 1px solid #70c1e9 !important;

}

.internal {
    padding: 53px 54px;
    margin-left: 31px !important;
    border: 1px solid #70c1e9 !important;
}

.add-survey.text-center h4 {
    font-size: 20px;
}

.add-survey.text-center {
    padding-bottom: 20px;
}

.add-section {
    margin: 150px 0px !important;
}


.icon-customer {
    font-size: 47px;
}

.icon-internal {
    font-size: 47px;
}