.usermanagement{
    margin: 20px 0px;
    display: flex;
}
.search-right{
    margin: 20px 0px;
}
.user{
    margin: 20px 0px;
}
.usermanagement h4 {
    color: #1cb4cc !important;
    font-size: 19px;
    font-weight: 600;
}
.search-team{
    display: flex;
    justify-content: flex-end;
}
button.dan.me-3.btn.ml-auto.d-block.mb-2{
    padding: 10px;
}
table.table {
    border: 1px solid white;
}

.dflexo {
    display: -webkit-inline-box !important ;
 }
 .brand-filter-zero {
    margin-left: 40px !important;
}
select.form-select-extra {
    border: 0;
}
select.form-select-extra {
    color: #00000082;
    font-weight: 600;
}
.team p{
    font-weight: 600;
}

th{
    font-weight: 600;
}
input.unique {
    margin: 0px !important;
    width: auto !important;
}
.rec {
    margin-top: 38px !important;
}
tr {
    cursor: pointer !important;
}