/* first page design start ==================================>*/
.orange {
    background-image: url(/src/images/pre1.png)!important;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    
  }
  .ques-one h5 {
    color: white;
    
  }
  .ques-one {
    margin-left: 50px;
    margin-top: 150px;
  }
  .black-one{
    border: 1px solid #ddd4d42e;
      cursor: pointer;
      padding: 5px 26px;
      border-radius: 6px;
      margin-left: 120px;
      background: navajowhite;
      margin-top: 30px !important;
  }
  .black-one input.first {
    color: white;
    font-size: 12px;
    cursor: pointer;
  
  }

  /* fisrts page design ends ==================================>*/