.width-fix.col {
  background-color: var(--bglight);
  width: 100%;
  max-width: 230px;
  flex: 0 0 230px;
  padding: 20px 0;
  margin-right: 15px;
  min-height: 100vh;
}
.rightside-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}
.changepass {
	position: absolute;
	right: 0;
	bottom: -22px;
	color: var(--skyblue);
	font-size: 12px;
	text-decoration: underline !important;
	cursor: pointer;
	font-weight: 400;
}

.edituser svg {
  width: 15px;
  height: 15px;
  color: var(--lightblack);
  margin-left: 3px;
  display: inline-block;
  margin-top: -4px;
  cursor: pointer;
}
.my-profile {
  padding-right: 200px;
}
.myprofiletab{
  background-color: #FBFBFB;
  width: auto;
  border-radius: 5px;
  padding: 5px;
  border: none;
  display: inline-flex;
}
.myprofiletab.nav-tabs .nav-link {
	margin-bottom: -1px;
	background: 0 0;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	color: #474747;
  padding: .5rem 2.5rem;
}
.myprofiletab.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #474747;
  background-color: #DEDEDE !important;
  border-color: transparent;
}
.myprotab .tab-content {
	padding-top: 35px; 
	 padding-bottom: 30px;
}
.verify-email {
  position: absolute;
  right: 15px;
  top: 56%;
  cursor: pointer;
  text-decoration: underline;
}
.password-modal .modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 3.5rem);
    max-width: 406px;
  }
  .new-pass > label > span {
    cursor: pointer;
    margin-left: 7px;
  }
  .password-information {
    background-color: var(--white);
    box-shadow: 0 0 23px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    max-width: 70%;
    position: absolute;
    right: 0;
    left: auto;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    top: 25px;
  }
  .new-pass > label span:hover + .password-information{
     opacity: 1;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }

.password-modal .modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
    border: 2px solid #474747;
    border-radius: 50px;
    width: 0.8em;
    height: 0.8em;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/.8em auto no-repeat;
    opacity: .7;
}
.password-modal .btn-close:hover {
	color: #474747;
	opacity: 1;
}
.password-modal .modal-footer{
border-top:0;
padding-top:0;
padding: 0;
}
.password-modal .modal-header{
 border-bottom:0;
 padding-bottom: 0.5rem !important; 
 padding: 0;
}
.password-modal .modal-body{
  padding:0;
}
.password-modal .modal-content {
	padding: 25px !important;
}
@media only screen and (max-width: 1199px) {
  .my-profile {
    padding-right: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .my-profile {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .leftside-content.width-fix.col {
    display: none;
  }
  .sender-heading {
    margin-bottom: 15px;
    padding-top: 20px;
  }
  .sm-heading {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .rightside-content {
    padding-left: 0;
    padding-right: 0;
  }
  .set-profile {
    padding-right: 0;
  }
}
