.width-fix.col {
    background-color: var(--bglight);
    width: 100%;
    max-width: 230px;
    flex: 0 0 230px;
    padding: 20px 0;
    margin-right: 15px;
    min-height: 100vh;
  }
  .rightside-content {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 15px !important;
  }